<div class="bd_app_module_menu">
    <ul class="nav nav-pills nav-stacked">
        <li class="dropdown-header">Network</li>
        <li role="presentation" ><a href="#" class="show-supported-vendors-techs"> <i class="fa fa-arrow-right"></i> Vendors & technologies</a></li>
        <li class="dropdown-header">Extraction Transformation Loading</li>
        <li role="presentation" ><a href="#" class="show-cm-schedule"> <i class="fa fa-arrow-right"></i> Scheduling</a></li>
        <li role="presentation" ><a href="#" class="show-cm-file-fetch"> <i class="fa fa-arrow-right"></i> Directories</a></li>
    </ul>
</div>