<div class="bd-notice"></div>

<div class="panel panel-default">
    <div class="panel-heading"><b><i class="fa fa-cog"></i> CM ETL File Formats</b></div>
    <div class="panel-body">
        
        <!-- table -->
        <table id="cm_file_formats_dt" class="table table-striped table-bordered dataTable" width="100%">
            <thead>
                <tr>
                  <th scope="col">vendor</th>
                  <th scope="col">technology</th>
                  <th scope="col">format</th>
                </tr>
            </thead>  
            
            <tbody></tbody>
            
            <tfoot class="hidden">
                <tr>
                  <th >vendor</th>
                  <th >technology</th>
                  <th >format</th>
                </tr>
            </tfoot>  
            
        </table>
        <!-- /table -->
    </div>
</div>