<div class="bd_app_module_menu">
    <ul class="nav nav-pills nav-stacked">
        <li class="dropdown-header">Extraction Transformaton Loading</li>
        <li role="presentation" ><a href="#" class="show-cm-schedule"> <i class="fa fa-arrow-right"></i> Scheduling</a></li>
        <li role="presentation" ><a href="#" class="show-cm-file-fetch"> <i class="fa fa-arrow-right"></i> File fetch</a></li>
        <li role="presentation" ><a href="#" class="show-cm-file-formats"> <i class="fa fa-arrow-right"></i> File formats</a></li>
    </ul>
</div>