<div class="bd-notice"></div>

<div class="panel panel-default">
    <div class="panel-heading"><b><i class="fa fa-cog"></i> CM ETL File Formats</b></div>
    <div class="panel-body">
        
        <!-- File formats form -->
        <form id="cm_file_formats_form">
            
            <!-- supported vendor  technologies -->
            <div class="form-group">
                <label for="vendor-technology-map">Supported Vendor Technologies</label>
                <select class="form-control" name="vendor_technology_map">
                    <option value="0">--Select vendor and technology--</option>
                </select>
            </div>
            <!--/ supported vendor  technologies -->
            
            <!-- vendor  technology file formats -->
            <div class="form-group">
                <label for="vendor-tech-cm-file-formats">CM file formats</label>
                <select class="form-control" name="vendor_tech_cm_formats">
                    <option value="0">--Select CM file format--</option>
                </select>
            </div>
            <!--/ supported vendor tech file formats -->
            
            <!-- submit -->
            <div class="form-group">
                <div class="">
                  <button type="submit" class="btn btn-blue">Add</button>
                </div>
            </div>
            <!-- submit -->
        </form>
        <!--/ file formats form -->
        <!-- table -->
        <table id="cm_file_formats_dt" class="table table-striped table-bordered dataTable" width="100%">
            <thead>
                <tr>
                  <th scope="col">vendor</th>
                  <th scope="col">technology</th>
                  <th scope="col">label</th>
                  <th scope="col">pk</th>
                </tr>
            </thead>  
            
            <tbody></tbody>
            
            <tfoot class="hidden">
                <tr>
                  <th >vendor</th>
                  <th >technology</th>
                  <th >label</th>
                  <th >pk</th>
                </tr>
            </tfoot>  
            
        </table>
        <!-- /table -->
    </div>
</div>