<div class="bd-notice"></div>


<div>
    <fieldset class="col-md-12">    	
        <legend>Radio Access Network</legend>

        <div class="row dashboard-icon">
            <div class="col-md-2">
                <div class="icon-display"><a href="#/netmgt"> <i class="fa fa-sitemap"></i></a></div>
                <div class="icon-label">Network Management</div>
            </div>

            <div class="col-md-2">
                <div class="icon-display" title="Network Audit Module"><a href="#/netaudit"><i class="fa fa-wrench"></i></a></div>
                <div class="icon-label">Network Audit</div>
            </div>
            <div class="col-md-2">
                <div class="icon-display"><a href="#/mobrowser" title="Managed Object Browser"> <i class="fa fa-puzzle-piece"></i></a></div>
                <div class="icon-label">MO Browser</div>
            </div>
            <!--
            <div class="col-md-2">
                <div class="icon-display"><a href="#/gis"> <i class="fa fa-globe"></i></a></div>
                <div class="icon-label">GIS Tools</div>
            </div>
            -->
            <div class="col-md-2">
                <div class="icon-display"><a href="#/baseline"> <i class="fa fa-stop-circle-o"></i></a></div>
                <div class="icon-label">Network Baseline</div>
            </div>

            <div class="col-md-2">
                <div class="icon-display"><a href="#/telecomlib"> <i class="fa fa-bank"></i></a></div>
                <div class="icon-label">Telecom Library</div>
            </div>

        </div>

    </fieldset>				

    <div class="clearfix"></div>
</div>


<div>
    <fieldset class="col-md-12">    	
        <legend>System</legend>

        <div class="row dashboard-icon">
            <div class="col-md-2">
                <div class="icon-display"><a href="#/processes"><i class="fa fa-cogs"></i></a></div>
                <div class="icon-label">Processes</div>
            </div>
            
            <div class="col-md-2">
                <div class="icon-display"><a href="#/profile"><span class="glyphicon glyphicon-user"></span></a></div>
                <div class="icon-label">Profile</div>
            </div>

            <div class="col-md-2">
                <div class="icon-display"><a href="#/settings"><i class="fa fa-cog"></i></a></div>
                <div class="icon-label">Settings</div>
            </div>

            <div class="col-md-2">
                <div class="icon-display"><a href="#/help"><i class="fa fa-question-circle-o"></i></a></div>
                <div class="icon-label">Help</div>
            </div>
        </div>

    </fieldset>
</div>