<div class="bd_app_module_menu">
    <ul class="nav nav-pills nav-stacked">
        <li class="dropdown-header">Radio Access Network</li>
        <li role="presentation" ><a href="#/netmgt"> <i class="fa fa-sitemap"></i> Network Management</a></li>
        <li><a href="#/netaudit" ><img src="../../images/discrepancy_black_25.png" width="16px" class="img-icon"/> Network Audit</a></li>
        <li><a href="#/mobrowser" ><img src="../../images/registry_editor_black_25.png" width="16px" class="img-icon"/> MO Browser</a></li>
        <li role="presentation" class=""><a href="#/gis"> <i class="fa fa-globe"></i>  GIS Tools</a></li>
        <li role="presentation" class=""><a href="#/networkinventory"> <i class="fa fa-sticky-note-o"></i>  Network Inventory</a></li>
        <li role="presentation" class=""><a href="#/baseline"> <i class="fa fa-stop-circle-o"></i>  Baseline Values</a></li>
         <li class="dropdown-header">System</li>
        <li role="presentation" class=""><a href="#/processes"> <i class="fa fa-cogs"></i>  Processes</a></li>
        <li role="presentation" class=""><a href="#/settings"><i class="fa fa-question-circle-o"></i> Settings</a></li>
        <li role="presentation" class=""><a href="#/help"><i class="fa fa-cog"></i>  Help</a></li>
    </ul>
</div>