<div class="bd-notice"></div>
<h3>Relations</h3>

<table id="dt_netmgt_all_relations" class="table table-striped table-bordered dataTable" width="100%">
    <thead>
        <tr>
            <th>pk</th>
            <th>SVRNODE</th>
            <th>SVRSITE</th>
            <th>SVRCELL</th>
            <th>SVRTECH</th>
            <th>SVRVENDOR</th>
            <th>NBRNODE</th>
            <th>NBRSITE</th>
            <th>NBRCELL</th>
            <th>NBRTECH</th>
            <th>NBRVENDOR</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>pk</th>
            <th>SVRNODE</th>
            <th>SVRSITE</th>
            <th>SVRCELL</th>
            <th>SVRTECH</th>
            <th>SVRVENDOR</th>
            <th>NBRNODE</th>
            <th>NBRSITE</th>
            <th>NBRCELL</th>
            <th>NBRTECH</th>
            <th>NBRVENDOR</th>
        </tr>
    </tfoot>
</table>