<h3>Network Nodes</h3>

<table id="dt_all_network_nodes" class="table table-striped table-bordered dataTable" width="100%">
    <thead>
        <tr>
            <th>id</th>
            <th>nodename</th>
            <th>type</th>
            <th>technology</th>
            <th>vendor</th>
            <th>date_added</th>
        </tr>
    </thead>
    <tfoot style="display:none">
        <tr>
            <th>id</th>
            <th>nodename</th>
            <th>type</th>
            <th>technology</th>
            <th>vendor</th>
            <th>date_added</th>
        </tr>
    </tfoot>
</table>