<div class="bd-notice"></div>
<h1><i class="fa fa-sitemap"></i> Boda Network Management &trade; - v1.0.0</h1>

<!-- network summary -->
<div class="panel panel-default">
    <div class="panel-heading"><b>Network Summary</b></div>
    <div class="panel-body">
        <p>
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Snapshot Date</b></td>
                    <td>27/11/2017</td>
                </tr>
                <tr>
                    <td><b>Vendors</b></td>
                    <td>Ericsson, Huawei, ZTE</td>
                </tr>
                <tr>
                    <td><b>Technologies</b></td>
                    <td>GSM, UMTS, LTE</td>
                </tr>
                <tr>
                    <td><b>No. of cells</b></td>
                    <td>200,000</td>
                </tr>
                <tr>
                    <td><b>No. of sites</b></td>
                    <td>2,000</td>
                </tr>
            </tbody>
        </table>
        </p>
    </div>
</div>
<!-- /network summary -->