<div class="bd-notice"></div>
<h1><i class="fa fa-sitemap"></i> Boda Network Management &trade; - v1.0.0</h1>

<!-- Icons for other functionality in the module -->
<div class="panel panel-default">
    <div class="panel-body">
        <a href="#" class="launch-network-tree"><i class="fa fa-sitemap"></i> Launch tree browser</a>
    </div>
</div>
<!-- /Icons for other functionality in the module -->

<!-- network elements -->
<div class="panel panel-default">
    <div class="panel-heading"><b>Browse live network entities </b></div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td><a href="#" class="show-node-list"><i class="fa fa-arrow-right"></i> View all nodes</a></td>
                    <td><a href="#" class="show-site-list"><i class="fa fa-arrow-right"></i> View all sites</a></td>
                    <td><a href="#" class="show-nbr-list"><i class="fa fa-arrow-right"></i> View all relations</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="show-2gcell-list"><i class="fa fa-arrow-right"></i> View 2G cell parameters</a></td>
                    <td><a href="#" class="show-3gcell-list"><i class="fa fa-arrow-right"></i> View 3G cell parameters</a></td>
                    <td><a href="#" class="show-4gcell-list"><i class="fa fa-arrow-right"></i> View 4G cell parameters</a></td>
                    
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#" class="load-2g-externals"><i class="fa fa-arrow-right"></i> View 2G externals</a></td>
                    <td><a href="#" class="load-3g-externals"><i class="fa fa-arrow-right"></i> View 3G externals</a></td>
                    <td><a href="#" class="load-msc-definitions"><i class="fa fa-arrow-right"></i> View MSC definitions</a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /network elements -->

<!-- network summary -->
<div class="panel panel-default">
    <div class="panel-heading"><b>Network Summary</b></div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Snapshot Date</b></td>
                    <td>27/11/2017</td>
                </tr>
                <tr>
                    <td><b>Vendors</b></td>
                    <td>Ericsson, Huawei, ZTE</td>
                </tr>
                <tr>
                    <td><b>Technologies</b></td>
                    <td>GSM, UMTS, LTE</td>
                </tr>
            </tbody>
            
        </table>
        
        <div id="network_summary_plot"></div>
    </div>
</div>
<!-- /network summary -->
