<!-- Center -->
<div class="ui-layout-center">
    <!-- Module Area -->
    <div class="row bd_app_module_area" id="bd_app_module_area">
        <div class="row">
            <div id="bd_reports_panel_right"
                 class="col-sm-12 bd_reports_panel_right">
                <div id="bd_content_tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="bd_nav_tab">
                        <li role="presentation" class="active"><a
                                href="#dashboard_tab" aria-controls="dashboard" role="tab"
                                data-toggle="tab"> <span class="glyphicon glyphicon-home"></span>
                                Dashboard
                            </a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" id="bd_tab_content">
                        <div role="tabpanel" class="tab-pane active" id="dashboard_tab">Loading...</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--// Module Area -->
</div>
<!--// Center -->

<!-- North -->
<div class="ui-layout-north">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> <span class="logo" alt="TS">
                    <img src="../images/antenna_blue_64.png" data-src="../images/plugin_black_25.png" width="26" /></a>
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#" id="bd_app_title"
                   class="bd_app_title">Boda Telecom Suite - CE v1.0.0 Beta</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!-- Modules -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/dashboard"><span
                                class="glyphicon glyphicon-home "></span> Dashboard</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle"
                                            data-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false"><i class="fa fa-plug"></i> Modules <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Radio Access Network</li>
                            <li><a href="#/netmgt"> <i class="fa fa-sitemap"></i> Network Management</a></li>
                            <li><a href="#/netaudit"><i class="fa fa-wrench"></i> Network Audit</a></li>
                            <li><a href="#/mobrowser"><i class="fa fa-puzzle-piece"></i> MO Browser</a></li>
                            <li><a href="#/gis"><i class="fa fa-globe"></i> GIS Tools</a></li>
                            <li><a href="#/networkinventory"><i class="fa fa-sticky-note-o"></i> Network Inventory</a></li>
                            <li><a href="#/baseline"><i class="fa fa-stop-circle-o"></i> Network Baseline</a></li>
                            <li><a href="#/telecomlib"><i class="fa fa-bank"></i> Telecom Library</a></li>
                            <li class="dropdown-header">System</li>
                            <li><a href="#/processes"><i class="fa fa-cogs"></i> Processes</a></li>
                        </ul></li>

                    <li><a href="#/settings"><i class="fa fa-cog"></i> Settings</a></li>

                    <li><a href="#/help"><i class="fa fa-question-circle-o"></i> Help</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle"
                                            data-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false"> <span class="glyphicon glyphicon-user "></span>
                            <span class="session-user-name"><%= username %></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="#" class="logout"><span
                                        class="glyphicon glyphicon-off "></span> Logout</a></li>
                        </ul></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<!--// North -->

<!-- South -->
<div class="ui-layout-south">
    <p class="text-muted">
        Boda Telecom Suite - CE v1.0.0 | &copy 2017 <a
            href="http://www.bodastage.com" target="_blank">Bodastage</a>
    </p>
</div>
<!--// South -->

<!-- West -->
<!-- <div class="ui-layout-east">East</div> -->
<div class="ui-layout-west">
    <div id="bd_reports_panel_left" class="col-sm-12 bd_reports_panel_left">
        <div class="">
            <h4 style="display: inline-block;" class="bd_app_module_title"></h4>
        </div>
        <div id="bd_sidebar_fixed_width"></div>
    </div>
</div>
<!-- // West -->