<div class="bd-notice"></div>
<h1><i class="fa fa-stop-circle-o"></i> Network Baseline</h1>

<table id="dt_baseline_values" class="table table-striped table-bordered dataTable" width="100%">
    <thead>
        <tr>
            <th>vendor</th>
            <th>technology</th>
            <th>mo</th>
            <th>parameter</th>
            <th>value</th>
            <th>date_added</th>
            <th>date_modified</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>vendor</th>
            <th>technology</th>
            <th>mo</th>
            <th>parameter</th>
            <th>value</th>
            <th>date_added</th>
            <th>date_modified</th>
        </tr>
    </tfoot>
</table>
