<div class="bd-notice"></div>
<h1><i class="fa fa-cogs"></i> Processes</h1>

<!-- Icons for other functionality in the module -->
<div class="panel panel-default">
    <div class="panel-body">
        <a href="#" class="launch-airflow"><i class="fa fa-cogs"></i> Launch Airflow</a>
    </div>
</div>
<!-- /Icons for other functionality in the module -->

<div class="panel panel-default">
<div class="panel-heading"><b>Server Details</b></div>
  <div class="panel-body">
    <p>
    	<b>System:</b> Linux oberix 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:18:00 UTC 2015 i686 i686 i686 GNU/Linux
    </p>
    <p>
     <b>Uptime:</b> 12:27:38 up 2 days, 17:51, 13 users,  load average: 0,29, 0,22, 0,19
    </p>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><b>Server Statistics</b></div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Resource</th>
				<th>Usage</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>CPU</td>
				<td>50%</td>
				<td>100%</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Disk Space</td>
				<td>133GB</td>
				<td>500GB</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Memory</td>
				<td>8GB</td>
				<td>24GB</td>
			</tr>
			<tr>
				<th scope="row">4</th>
				<td>Disk I/O</td>
				<td>Avg Reads=12352, Avg. Writes=1000</td>
				<td>-</td>
			</tr>
			<tr>
				<th scope="row">5</th>
				<td>Network</td>
				<td>RX bytes:489290140,TX bytes:44259216</td>
				<td>-</td>
			</tr>
			<tr>
				<th scope="row">6</th>
				<td>CPU Cores</td>
				<td>3</td>
				<td>6</td>
			</tr>
		</tbody>
	</table>
</div>