<div class="bd-notice"></div>
<h1><i class="fa fa-cogs"></i> Processes</h1>

<!-- Icons for other functionality in the module -->
<div class="panel panel-default">
    <div class="panel-body">
        
        <div class="row">
            <div class="container">
                <div class="col-md-6"><a href="#" class="launch-airflow"><i class="fa fa-cogs"></i> Airflow</a></div>
                <div class="col-md-6"><a href="#" class="launch-rabbitmq"><i class="fa fa-cogs"></i> RabbitMQ</a></div>
            </div>
        </div>

        
    </div>
</div>
<!-- /Icons for other functionality in the module -->
