<h1><i class="fa fa-wrench"></i> Boda Network Audit &trade; - v1.0.0</h1>

<!-- Icons for other functionality in the module -->
<div class="panel panel-default">
    <div class="panel-body">
        <a href="#" class="launch-audit-rule-tree"><i class="fa fa-list-ul"></i> Load audit rules</a>
    </div>
</div>
<!-- /Icons for other functionality in the module -->

<div class="panel panel-default">
<div class="panel-heading"><b>Network Audit Summary</b></div>
  <div class="panel-body">
    <p>
        <table class="table">
          <tbody>
            <tr>
                <td><b>Snapshot Date</b></td>
                <td>27/11/2017</td>
            </tr>
            <tr>
                <td><b>Definitions/Missing externals</b></td>
                <td>100</td>
            </tr>
            <tr>
                <td><b>Definitions/Missing inner cells</b></td>
                <td>50</td>
            </tr>
          </tbody>
        </table>
    </p>
  </div>
</div>