<div class="bd-audit-search">
    <form class="form-inline">
        <div class="">
            <input class="form-control" id="bd_audit_filter"
                   placeholder="Search audit rules..." style="width: 100%" type="text">
        </div>
    </form>
</div>
<div class="bd-audit-search-select">
    <div class="checkbox">
        <label> <input name="bd_filter_audit_rules" value="true"
                       type="checkbox"> Rules
        </label> <label> <input name="bd_filter_audit_cats" value="true"
                                type="checkbox"> Categories
        </label>
    </div>
</div>
<div class="bots-notices"></div>

<span class="glyphicon glyphicon-list"></span>

<div id="bd_auditrules_tree" class="aciTree"></div>