<h1><i class="fa fa-bank"></i> Telecom Library</h1>

<!-- Icons for other functionality in the module -->
<div class="panel panel-default">
    <div class="panel-body">
        
        <div class="row ">
            <div class="col-md-2">
                <div class=""><a href="#" class="load-vendors"><i class="fa fa-arrow-right"></i> Vendors</a></div>
            </div>
            <div class="col-md-2">
                <div class=""><a href="#" class="load-technologies"><i class="fa fa-arrow-right"></i> Technologies</a></div>
            </div>
        </div>
        
    </div>
</div>
<!-- /Icons for other functionality in the module -->
