<div class="bd_reports_search">
    <div class="form-inline">
        <input class="form-control" id="bd_mobrowser_tree_filter"
               placeholder="Search for MO..." type="text">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">Vendor</div>
    <div class="col-sm-6">
        <select class="form-inline pull-right bd-form-control" id="bd_mobrowser_select_vendor">
            <option value="0">--Vendor--</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">Technology</div>
    <div class="col-sm-6">
        <select class="form-inline pull-right bd-form-control" id="bd_mobrowser_select_tech">
            <option value="0">--Technology--</option>
        </select>
    </div>
</div>

<div class="bots-notices"></div>
<span>&nbsp;/</span>

<!-- tree -->
<div id="mo_tree"  class="aciTree"></div>
<!--// tree -->